.navigation {
    background-color: black;
    color: white;
    height: 65px;
}

.logo {
    float: left;
}

.logo a {
    display: block;
}

ul.navigation-links {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navigation-links li {float: left;}

ul.navigation-links li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.navigation-links li a:hover {background-color: #555;}

ul.navigation-links li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.navigation-links li:not(:first-child) {display: none;}
  ul.navigation-links li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.navigation-links.responsive {position: relative;}
  ul.navigation-links.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navigation-links.responsive li {
    float: none;
    display: inline;
  }
  ul.navigation-links.responsive li a {
    display: block;
    text-align: left;
  }
}